*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    color: rgb(46, 46, 46);
    font-family: "Ubuntu", sans-serif;
    height: 2000px;
    background-color: rgb(247, 247, 247);
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: rgb(251, 255, 28);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-container p{
    font-family: "Bungee", sans-serif;
    font-size: 1.5rem;
    background-color: rgb(46, 46, 46);
    padding: 0.5rem;
    border-radius: 4px;
    color: white;
}
.nav-container span{
    font-family: "Bungee", sans-serif;
    color: rgb(251, 255, 28);
}

.nav-container ul{
    display: flex;
    gap: 2rem;
}
.nav-container ul li a{
    color: rgb(46, 46, 46);
}
.logo a{
    color: white;
}

.nav-menu {
    display: flex;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/img-header.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
}
.hero h1{
    font-family: "Bungee", sans-serif;
    color: white;
}
.hero p{
    color: white;
    padding: 2rem 8rem;
}
.hero a{
    /* border: 1px solid black; */
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: rgb(251, 255, 28);
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.features{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.features-item{
    border-left: 5px solid rgb(251, 255, 28);
    padding: 1rem;
    background-color: white;
    /* border-radius: 0 4px 4px 0; */
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.features h2{
    font-family: "Bungee", sans-serif;
}
.features p{
    padding: 1rem;
}

.gallery{
    width: 80%;
    margin: 50px auto;
}
.gallery ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 5px solid white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.gallery ul li img{
    display: block;
    width: 100%;
}

.sub-title{
    display: flex;
    align-items: center;
    background-color: rgb(46, 46, 46);
    width: 25%;
    margin: 2rem 0;
    padding: 0.2rem 0.2rem 0.2rem 0;
    border-radius: 4px;
}
.sub-title .horizontal-line{
    padding: 0.2rem 1.5rem;
    background-color: rgb(251, 255, 28);
    width: 1rem;
    margin: 1rem 1rem 1rem 1rem ;
}
.sub-title h2{
    font-family: "Bungee", sans-serif;
    color: white;
}

.reviews{
    width: 80%;
    margin: 50px auto;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.review-items{
    background-color: white;
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.review-items span{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}   
.profile{
    /* padding: 2rem; */
    /* background-color: blue; */
    width: 4rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.profile img{
    display: block;
    width: 100%;
    border-radius: 50%;
}

.contact{
    width: 80%;
    margin: 50px auto;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-left: 5px solid rgb(251, 255, 28);

}
.contact-information{
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 2rem;
}
.contact-information span{
    font-family: "Bungee", sans-serif;
    font-size: 1.3rem;  
}
.contact-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 50px auto;
    gap: 1rem;
    
}
.contact-items-container .contact-items p{
    font-size: 0.8rem;
}
.contact-items-container .contact-items span{
    color: rgb(251, 255, 28);
}
.contact-items-container .contact-items{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.contact-content{
    margin-left: 1rem;
}

.social-media{
    display: grid;
    gap: 1rem;
    place-content: center;
    text-align: center;

}
.social-media .social-media-icon{
    display: flex;
    gap: 2rem;
}
.social-media .social-media-icon a{
    color: rgb(251, 255, 28);
}

form{
    display: grid;
    gap: 1rem;
}
.contact-form{
    padding: 2rem;
    display: grid;
    place-items: center;
    background-color: white;
}
.contact-form label{
    display: block;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.contact-form input{
    padding: 0.5rem;
    width: 100%;
}
.form-input.name-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
}
.form-input textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 0.5rem;
}
.contact-form .btn-submit{
    background-color: rgb(46, 46, 46);
    color: rgb(251, 255, 28);
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
}

footer{
    font-family: "Bungee", sans-serif;
    font-size: 0.7rem;
    display: grid;
    place-content: center;
    background-color: rgb(251, 255, 28);
    padding: 1rem;
}